@model IEnumerable<HomeAutomation.Model.DoorSwitchReading.DoorSwitchDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Open)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Open)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
